.venv
.DS_Store
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.pt
*.pth
*.h5
*.hdf5
outputs/
results/
runs/
wandb/
tests/q*/sweep_test/Images/*
tests/q*/sweep_test/Models_Data/*
tests/diagonal_ising_grid/Images/
tests/diagonal_ising_grid/Models_Data/
