.venv
.DS_Store
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.pt
*.pth
*.h5
*.hdf5
outputs/
results/
runs/
wandb/
tests/full_pauli_*_qubits/Images/*
tests/full_pauli_*_qubits/Models_Data/*
tests/sparse_agp_*_qubits/Images/*
tests/sparse_agp_*_qubits/Models_Data/*
tests/q*/sweep_test/Images/*
tests/q*/sweep_test/Models_Data/*
