.venv
.DS_Store
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.pt
*.pth
*.h5
*.hdf5
outputs/
results/
runs/
wandb/
tests/sparse_agp_curriculum/q*/sweep_test/Images/*
tests/sparse_agp_curriculum/q*/sweep_test/Models_Data/*
